{{- $name := .Get "name" -}} {{- $image := .Get "image" -}} {{- $cost := .Get
"cost" -}} {{- $type := .Get "type" -}} {{- $power := .Get "power" -}} {{-
$toughness := .Get "toughness" -}} {{- $description := .Inner -}}

<div class="card-preview-container">
  <div class="card-preview">
    <div class="card-header">
      <h4 class="card-name">{{ $name }}</h4>
      {{ if $cost }}
      <span class="card-cost">{{ $cost }}</span>
      {{ end }}
    </div>

    {{ if $image }}
    <div class="card-image">
      <img src="{{ $image }}" alt="{{ $name }} card art" loading="lazy" />
    </div>
    {{ else }}
    <div class="card-image-placeholder">
      <i class="fa fa-image"></i>
      <span>Artwork Coming Soon</span>
    </div>
    {{ end }}

    <div class="card-info">
      {{ if $type }}
      <p class="card-type">{{ $type }}</p>
      {{ end }} {{ if $description }}
      <div class="card-description">{{ $description | markdownify }}</div>
      {{ end }} {{ if and $power $toughness }}
      <div class="card-stats">
        <span class="power-toughness">{{ $power }}/{{ $toughness }}</span>
      </div>
      {{ end }}
    </div>
  </div>
</div>

<!-- styles moved to SCSS: assets/scss/_styles_project.scss -->
