{{- $name := .Get "name" -}} {{- $role := .Get "role" -}} {{- $avatar := .Get
"avatar" -}} {{- $discord := .Get "discord" -}} {{- $achievement := .Get
"achievement" -}} {{- $quote := .Inner -}}

<div class="community-highlight">
  <div class="highlight-header">
    <div class="highlight-avatar">
      {{ if $avatar }}
      <img src="{{ $avatar }}" alt="{{ $name }}" loading="lazy" />
      {{ else }}
      <div class="avatar-placeholder">
        <i class="fa fa-user"></i>
      </div>
      {{ end }}
    </div>
    <div class="highlight-info">
      <h4 class="highlight-name">{{ $name }}</h4>
      {{ if $role }}
      <span class="highlight-role">{{ $role }}</span>
      {{ end }} {{ if $discord }}
      <span class="highlight-discord">{{ $discord }}</span>
      {{ end }}
    </div>
    {{ if $achievement }}
    <div class="highlight-achievement">
      <i class="fa fa-trophy"></i>
      <span>{{ $achievement }}</span>
    </div>
    {{ end }}
  </div>

  {{ if $quote }}
  <div class="highlight-quote">
    <i class="fa fa-quote-left quote-icon"></i>
    <p>{{ $quote | markdownify }}</p>
  </div>
  {{ end }}
</div>

<!-- styles moved to SCSS: assets/scss/_styles_project.scss -->
